{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 200,
  "overrides": [
    {
      "files": ["data/*.json", "data/**/*.json"],
      "options": {
        "printWidth": 500
      }
    }
  ]
}
